.head,.body-Section{
	text-align: center;
}


.table-Section{
	margin-top: 20px;
}
table, td {
    border: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
}